<ion-view view-title="== Passwords ==">
  <ion-content class="padding">
    <div class="list passwords">
      <div class="item item-body">
        <div>
          <span class="line-indicator">01|</span>Curano56
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="line-indicator">02|</span>Togere34
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="line-indicator">03|</span>Wozuke14
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="line-indicator">04|</span>Saderi86
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="line-indicator">05|</span>Nadoro01
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
